{% trans_default_domain 'FOSUserBundle' %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h2>Modification de vos identifiants</h2>
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-primary btn-block" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
