{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="jumbotron">
        <h1>Profiles list</h1>
        <hr>
        <a class="btn btn-secondary" href="{{ path('admin_dashboard') }}">Retour à votre dashboard</a>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h2>Candidatures en attente</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Age</th>
                        <th>Niveau</th>
                        <th>Date de naissance</th>
                        <th>Lieu de naissance</th>
                        <th>Profil complet</th>
                        <th>Etat candidature</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for profile in profilesPending %}
                    <tr>
                        <td><a href="{{ path('profile_show', { 'id': profile.id }) }}">{{ profile.id }}</a></td>
                        <td>{{ profile.firstname }}</td>
                        <td>{{ profile.lastname }}</td>
                        <td>{{ profile.age }}</td>
                        <td>{{ profile.level }}</td>
                        <td>{% if profile.birthdate %}{{ profile.birthdate|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ profile.birthplace }}</td>
                        <td>{% if profile.isComplete %}Yes{% else %}No{% endif %}</td>
                        <td>{{ profile.diplomaStatus }}</td>
                        <td>
                            <a class="btn btn-success btn-block" href="{{ path('profile_accepted', { 'id': profile.id }) }}">Accepter</a>

                            <a class="btn btn-danger btn-block" href="{{ path('profile_rejected', { 'id': profile.id }) }}">Refuser</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h2>Candidatures acceptées</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Age</th>
                        <th>Niveau</th>
                        <th>Date de naissance</th>
                        <th>Lieu de naissance</th>
                        <th>Profil complet</th>
                        <th>Etat candidature</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for profile in profilesValidated %}
                    <tr>
                        <td><a href="{{ path('profile_show', { 'id': profile.id }) }}">{{ profile.id }}</a></td>
                        <td>{{ profile.firstname }}</td>
                        <td>{{ profile.lastname }}</td>
                        <td>{{ profile.age }}</td>
                        <td>{{ profile.level }}</td>
                        <td>{% if profile.birthdate %}{{ profile.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ profile.birthplace }}</td>
                        <td>{% if profile.isComplete %}Yes{% else %}No{% endif %}</td>
                        <td>{{ profile.diplomaStatus }}</td>
                        <td>
                            <a class="btn btn-primary btn-block" href="{{ path('profile_show', { 'id': profile.id }) }}">show</a>

                            <a class="btn btn-info btn-block" href="{{ path('profile_edit', { 'id': profile.id }) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h2>Candidatures refusées</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Age</th>
                        <th>Niveau</th>
                        <th>Date de naissance</th>
                        <th>Lieu de naissance</th>
                        <th>Profil complet</th>
                        <th>Etat candidature</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for profile in profilesRejected %}
                    <tr>
                        <td><a href="{{ path('profile_show', { 'id': profile.id }) }}">{{ profile.id }}</a></td>
                        <td>{{ profile.firstname }}</td>
                        <td>{{ profile.lastname }}</td>
                        <td>{{ profile.age }}</td>
                        <td>{{ profile.level }}</td>
                        <td>{% if profile.birthdate %}{{ profile.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ profile.birthplace }}</td>
                        <td>{% if profile.isComplete %}Yes{% else %}No{% endif %}</td>
                        <td>{{ profile.diplomaStatus }}</td>
                        <td>
                            <a class="btn btn-success btn-block" href="{{ path('profile_accepted', { 'id': profile.id }) }}">Accepter</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-secondary btn-block my-2" href="{{ path('admin_dashboard') }}">Retour à votre dashboard</a>
    </div>
</div>


{% endblock %}
