{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h1>Création du profil</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary btn-block" type="submit" value="Créer" />
            {{ form_end(form) }}
            {% if is_granted('ROLE_ADMIN') == true %}
            <a class="btn btn-secondary btn-block mt-2" href="{{ path('admin_dashboard') }}">Retour à votre dashboard</a>
            {% else %}
            <a class="btn btn-secondary  btn-block mt-2" href="{{ path('student_dashboard') }}">Retour à votre dashboard</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

