{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h1>Profile</h1>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Idendifiant</th>
                        <td>{{ profile.id }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ profile.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ profile.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ profile.age }}</td>
                    </tr>
                    <tr>
                        <th>Niveau</th>
                        <td>{{ profile.level }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>{% if profile.birthdate %}{{ profile.birthdate|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Lieu de naissance</th>
                        <td>{{ profile.birthplace }}</td>
                    </tr>
                    <tr>
                        <th>Profil complet</th>
                        <td>{% if profile.isComplete %}Oui{% else %}Non{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Etat de la candidature</th>
                        <td>{{ profile.diplomaStatus }}</td>
                    </tr>
                </tbody>
            </table>

                {% if is_granted('ROLE_ADMIN') == true %}

                    <a class="btn btn-success btn-block mt-2" href="{{ path('profile_index') }}">Back to the list</a>

                    <a class="btn btn-warning btn-block mt-2" href="{{ path('profile_edit', { 'id': profile.id }) }}">Edit</a>

                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}

                {% else %}

                    <a  class="btn btn-secondary btn-block mt-2" href="{{ path('student_dashboard') }}">Retour à votre dashboard</a>

                {% endif %}

        </div>
    </div>
</div>
{% endblock %}
