{% trans_default_domain 'FOSUserBundle' %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h2>Création du compte</h2>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
