{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h1>Diplomas list</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for diploma in diplomas %}
                    <tr>
                        <td>{{ diploma.name }}</td>
                        <td>

                            <a class="btn btn-warning float-right" href="{{ path('diploma_updateProfile', { 'id': diploma.id }) }}">Postuler</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a  class="btn btn-secondary btn-block mt-2" href="{{ path('student_dashboard') }}">Retour à votre dashboard</a>
        </div>
    </div>
</div>
{% endblock %}