{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h1>Editer le diplôme</h1>

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-primary btn-block" type="submit" value="Edit" />
            {{ form_end(edit_form) }}

            <a class="btn btn-secondary btn-block mt-2" href="{{ path('diploma_index') }}">Back to the list</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger btn-block mt-2" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>

{% endblock %}
