{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h1>Liste des diplômes</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>En ligne</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for diploma in diplomas %}
                    <tr>
                        <td><a href="{{ path('diploma_show', { 'id': diploma.id }) }}">{{ diploma.id }}</a></td>
                        <td>{{ diploma.name }}</td>
                        <td>{% if diploma.isOnline %}Oui{% else %}Non{% endif %}</td>
                        <td class="float-right">
                            <a class="btn btn-primary" href="{{ path('diploma_show', { 'id': diploma.id }) }}">show</a>

                            <a class="btn btn-info" href="{{ path('diploma_edit', { 'id': diploma.id }) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                <a class="btn btn-warning btn-block" href="{{ path('diploma_new') }}">Create a new diploma</a>

                <a class="btn btn-secondary btn-block" href="{{ path('admin_dashboard') }}">Retour au Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}

