{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h1>Création d'un diplôme</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary btn-block mt-2" type="submit" value="Create" />
            {{ form_end(form) }}


            <a class="btn btn-secondary btn-block mt-2" href="{{ path('diploma_index') }}">Back to the list</a>
        </div>
    </div>
</div>
{% endblock %}
