{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h1>Diploma</h1>

            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ diploma.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ diploma.name }}</td>
                    </tr>
                    <tr>
                        <th>Isonline</th>
                        <td>{% if diploma.isOnline %}Yes{% else %}No{% endif %}</td>
                    </tr>
                </tbody>
            </table>

                    <a class="btn btn-secondary btn-block" href="{{ path('diploma_index') }}">Back to the list</a>

                    <a class="btn btn-info btn-block" href="{{ path('diploma_edit', { 'id': diploma.id }) }}">Edit</a>

                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger btn-block mt-2" type="submit" value="Delete">
                    {{ form_end(delete_form) }}

        </div>
    </div>
</div>
{% endblock %}
