{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container mt-3">
    <div class="jumbotron">
        <h1>Portail d'accès aux candidatures</h1>
        <hr>
        <p class="lead">Projet réalisé dans le cadre de la LPMI-DW UE3DW15</p>
        <p class="blockquote-footer">Projet réalisé par Vincent Pichot - Groupe2</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                </div>
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" />
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                <a class="btn btn-secondary btn-block" href="/register">Créer un compte</a>
            </form>
            <a class="btn btn-outline-dark btn-block mt-2" href="/resetting/request">Mot de passe oublié ?</a>
        </div>
    </div>
</div>
