{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
        <h2>récupérer votre mot de passe</h2>
        <hr>
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="form-group">
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input class="form-control" type="text" id="username" name="username" required="required" />
                </div>
                <div>
                    <input class="btn btn-primary btn-block" href="/register" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
</div>
