{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="jumbotron">
        <h1>Dashboard Admin</h1>
        <hr>
        <a class="btn btn-primary" href="{{ path('student_dashboard') }}">Dashboard Etu</a>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h2>Gestion des Formations</h2>
            <hr>
            <a class="btn btn-primary btn-block" href="{{ path('diploma_index') }}">Gérer les formations</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h2>Gestion des Candidatures</h2>
            <hr>
            <a class="btn btn-primary btn-block" href="{{ path('profile_index') }}">Gérer les candidatures</a>
        </div>
    </div>
</div>

{% endblock %}