{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="jumbotron">
        <h1>Dashboard Etudiant</h1>
        {% if is_granted('ROLE_ADMIN') == true %}
        <hr>
        <a class="btn btn-primary" href="{{ path('admin_dashboard') }}">Accès Admin</a>
        {% endif %}
        <a class="btn btn-warning float-right" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
    </div>
</div>

{% if profile is not null  %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <h2>Récapitulatif de votre dossier</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Age</th>
                        <th scope="col">Niveau</th>
                        <th scope="col">Date de naissance</th>
                        <th scope="col">Lieu de naissance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ profile.firstname }}</td>
                        <td>{{ profile.lastname }}</td>
                        <td>{{ profile.age }}</td>
                        <td>{{ profile.level }}</td>
                        <td>{% if profile.birthdate %}{{ profile.birthdate|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ profile.birthplace }}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary btn-block" href="{{ path('profile_edit', { 'id': profile.id }) }}">Modifier votre dossier</a>
            <a class="btn btn-warning btn-block" href="{{ path('fos_user_profile_edit') }}">Modifier vos identifiants</a>
        </div>
    </div>
</div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">

                {% if diploma is null  %}
                <h2>Candidature</h2>
                <hr>
                <a class="btn btn-primary btn-block" href="{{ path('diploma_apply') }}">Candidater à une formation</a>

                {% else %}
                <h2>Statut de votre candidature</h2>
                <hr>

                <p>{{ diploma.name }} -
                    {% if profile.diplomaStatus == 'pending'  %}
                        <span class="badge badge-warning"> {{ profile.diplomaStatus}} </span>
                        {% elseif profile.diplomaStatus == 'created' %}
                        <span class="badge badge-primary"> {{ profile.diplomaStatus}} </span>
                        {% elseif profile.diplomaStatus == 'accepted' %}
                        <span class="badge badge-success"> {{ profile.diplomaStatus}} </span>
                        {% elseif profile.diplomaStatus == 'rejected' %}
                        <span class="badge badge-danger"> {{ profile.diplomaStatus}} </span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endif %}
    {% else %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-7 col-xs-12 col-offset border rounded shadow-sm p-3">
            <div class="alert alert-primary" role="alert">
                Vous devez compléter votre dossier avant de candidater à une formation.
            </div>
                <a class="btn btn-primary btn-block" href="{{ path('profile_new') }}">Compléter votre dossier</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}